<div class="footer">
    <div class="footer-links">
        <a class="footer-link" href="{{ path('pages_main') }}">Главная</a>
        <a class="footer-link" href="{{ path('pages_about') }}">О нас</a>
    </div>
    <div class="footer-links">
        <a class="footer-link" href="{{ path('pages_main') }}">Главная 2</a>
        <a class="footer-link" href="{{ path('pages_about') }}">О нас 2</a>
    </div>
</div>